#mainmenu{
    display: inline-block;
    /* height: 100%; */
    width: 5%;
    background-color: black;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        .menu-icon{
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
            margin: 10px auto;
        }
        .menu-item{
            color: white;
            height: 10px;
            width: 100%;
            display: table;
            text-align: center;
        }
        .icon-search{
            background-image: url('../images/system/search.png');
        }
        .icon-options{
            background-image: url('../images/system/options.png');
        }
        .icon-info{
            background-image: url('../images/system/info.png');
        }
        li{
            font-size: 9px;
        }
    }
}