<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body onload="">
	<div class="navigation-block">
		<div class="navigation-button nav-button-left" action="nav-prev"></div>
        <div class="navigation-button navigation-panel" id="navigation-panel"></div>
		<div class="navigation-button nav-button-right" action="nav-next"></div>
	</div>
	<div class="filmss">
		<div id="blokFilm">

		</div>
	</div>
    <div class="pageViewFilm mask-hide">
        <img src=""/>
    </div>
    <div class="background-mask mask-hide classPositionAbsolute" action="load-mask">
        <div class="preload-animation preload-box"></div>
    </div>
    <div id="showMessage" class="message-box"></div>
    <div id="search" class="search-box">
        <input type="text" placeholder="search..." ></input>
        <input type="button" value="search"></input>
    </div>
	<script src="../js/lib/jquery.js"></script>
	<script src="../js/lib/underscore.js"></script>
	<script src="../js/lib/backbone.js"></script>
	<script src="js/app.js"></script>
	<script src="js/app-utils.js"></script>
	<script src="js/config.js"></script>
	<script src="js/dataProvider.js"></script>
	<script src="js/monitorConfig.js"></script>
	<script src="js/components/picture3d.js"></script>
	<script src="mainpage.js"></script>
</body>
</html>