<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
	<div id="new-mainpage">
		<div class="new-films-page">
			<div class="new-photoblock">
				<div class="photoblock-parent">
					<div class="block-rating">
						<div class="rating-ico rating-top"></div>
						<div class="rating-ico rating-ico-left"></div>
						<div class="rating-ico rating-ico-right"></div>
						<div class="rating-scale">
						
						</div>
					</div>
					<div class="block-picture"></div>
					<div class="block-panel">
						<div class="close"></div>
						<div class="panel-button button-play"></div>
						<div class="panel-button button-rating"></div>
					</div>
				</div>
			</div>
			<div class="new-photoblock">
				<div class="photoblock-parent">
					<div class="block-rating">
						<div class="rating-ico rating-top"></div>
						<div class="rating-ico rating-ico-left"></div>
						<div class="rating-ico rating-ico-right"></div>
					</div>
					<div class="block-picture"></div>
					<div class="block-panel">
						<div class="close"></div>
						<div class="panel-button button-play"></div>
						<div class="panel-button button-rating"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/lib/jquery.js"></script>
	<script src="../js/lib/underscore.js"></script>
	<script src="../js/lib/backbone.js"></script>
	<script src="mainpage.js"></script>
</body>
</html>